        {% if settings.social_sharing_products %}
          {% include 'social-sharing' %}
        {% endif %}
        {% include 'next-prev-products' %}
        {% include 'recently-viewed' %}		
      </div>
	</div>
  </div>

 {% if collection %}
     <!-- <hr class="hr--clear">
    <div class="text-center">
      <a href="{{ collection.url }}" class="return-link"> {{ 'products.general.collection_return' | t: collection: collection.title }}</a>
    </div> -->
  {% endif %}

</div>

{% comment %}

  *IMPORTANT:*
  This theme uses a customized version of `option_selection.js` to support using radio inputs for
  color and size variants. The custom version is in `variant_selection.js`.

  If you wish to enable the default dropdowns for size and color
  you can change the liquid asset tag below from:

  {{ 'variant_selection.js' | asset_url | script_tag }}

  to

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  If you use the default `option_selection.js` the labels for the dropdowns will
  appear outside the dropdown.

  You will also need to change `.radio-wrapper` to `.selector-wrapper` below.

{% endcomment %}
{{ 'variant_selection.js' | asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
    var usd = Math.round(Currency.convert((variant.price/100),"CAD","USD"));
    var eur = Math.round(Currency.convert((variant.price/100),"CAD","EUR"));
    var gbp = Math.round(Currency.convert((variant.price/100),"CAD","GBP"));
    var jpy = Math.round(Currency.convert((variant.price/100),"CAD","JPY"));
    
    $('.js-usd').html("$"+usd+" USD");
    $('.js-gbp').html("&pound;"+gbp+" GBP");
    $('.js-eur').html("&euro;"+eur+" EUR");
    $('.js-jpy').html("&yen;"+jpy+" JPY");

  };

  jQuery(function($) {
    new Shopify.OptionSelectors('ProductSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.radio-wrapper:eq(0)').prepend('<label for="ProductSelect-option-0" class="single-option-radio__label">{{ product.options.first | escape }}</label>');
    {% endif %}
  });
</script>
