<!-- /snippets/variant-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-quarter medium--one-half small--one-half' %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% assign color = '' %}

{% for variant in product.variants %}
  {% comment %}
  {% for option in variant.options %}
    {% if option == 'Red' %}
      <script type="text/javascript">
        console.log(`available: {{ variant.available }} option: {{ option }} variant name: {{ variant.option2 }}`);
      </script>
    {% endif %}
  {% endfor %}
  {% endcomment %}

  {% if product.options[forloop.index0] == 'Color'
    or product.options[forloop.index0] == 'Colour'
    or product.options[forloop.index0] == 'color'
    or product.options[forloop.index0] == 'colour'
  %}
    {% assign color_index = forloop.index0 %}
  {% endif %}

  {% if color_index == 0 %}
    {% assign variant_color = variant.option1 %}
  {% elsif color_index == 1 %}
    {% assign variant_color = variant.option2 %}
  {% elsif color_index == 2 %}
    {% assign variant_color = variant.option3 %}
  {% endif %}

  {% unless color == variant_color %}
    {% assign color = variant_color %}
    <div class="grid__item grid-product {{grid_item_width}}{% if sold_out %} is-sold-out{% endif %}">
      <div class="grid-product__wrapper{% unless product.tags contains 'Preview' %} reveal{% endunless %}">
        <div class="grid-product__image-wrapper">
          <a class="grid-product__image-link" href="{{ variant.url | within: collection }}">
            <img
              src="{{ variant.image.src | img_url: 'grande' }}"
              alt="{{ product.featured_image.alt | escape }}"
              class="grid-product__image"
            />
          </a>
        </div>
        {% unless sold_out %}
          <a href="{{ variant.url | within: collection }}" class="grid-product__meta">
            <span class="grid-product__title grid-product__text">{{ product.title }}</span>
            {% unless product.tags contains 'Preview' %}
              <span class="grid-product__price grid-product__text hidden pb-fix{% if on_sale %} on-sale{% endif %}">
                {% if on_sale and settings.preview_mode == false %}
                  <span id="ComparePrice" class="grid-product__price--compare not-block">
                    {{ variant.compare_at_price | money_with_currency }}
                  </span>
                {% endif %}
                {% if variant.price_varies %}
                  {{ variant.price_min | money_with_currency }}
                  <span class="icon icon-plus grid-product__price-min" aria-hidden="true"></span>
                {% else %}
                  {{ variant.price | money_with_currency }}
                {% endif %}
              </span>
              {% if product.tags contains 'coming-soon' %}
              <span>Coming Soon</span>
              {% else %}
              <span class="grid-product__sizes grid-product__text hidden">
                {% for variant in product.variants %}
                  {% if variant.option1 == variant_color %}
                    <span class="size{% unless variant.available %} unavailable{% endunless %}">
                      <span class="size-inner not-block" data-options="{{ variant.options }}">
                        {% unless variant.option2 contains 'Default' %}
                          {{ variant.option2 }}
                        {% endunless %}
                      </span>
                    </span>
                  {% endif %}
                {% endfor %}
              </span>
              <span class="grid-product__option grid-product__text">
                {{ variant_color }}
              </span>
              {% endif %}
            {% endunless %}
          </a>
        {% else %}
          <a href="{{ product.url | within: collection }}" class="grid-product__meta">
            <span class="grid-product__title grid-product__text">{{ product.title }}</span>
            <p class="grid-product__sold-out grid-product__text hidden">{% if product.tags contains 'coming-soon'%}Coming Soon{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</p>
            {% unless product.tags contains 'Preview' %}
              {% if product.tags contains 'coming-soon' %}
            {% else %}
              <span class="grid-product__option grid-product__text">
                {{ variant_color }}
              </span>
              <span class="grid-product__sizes grid-product__text hidden">
                {% for variant in product.variants %}
                  {% if variant.option1 == variant_color %}
                    <span class="size{% unless variant.available %} unavailable{% endunless %}">
                      <span class="size-inner not-block">
                        {% unless variant.option2 contains 'Default' %}
                          {{ variant.option2 }}
                        {% endunless %}
                      </span>
                    </span>
                  {% endif %}
                {% endfor %}
              </span>
              {% endif %}
            {% endunless %}
          </a>
        {% endunless %}
      </div>
    </div>
  {% endunless %}
{% endfor %}
