<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="p:domain_verify" content="07d0f63c49cc0e9d2505991d00917fef"/>

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  
  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {% if template contains "product" %}
    {{ "/services/javascripts/currencies.js" | script_tag }}
  {% endif %}
  
</head>

{% assign lockdown = false %}

{% if settings.lockdown_enabled %}
  {% assign lockdown = true %}
{% endif %}

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.preview_mode %} preview-mode{% endif %}">

  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__fixed-header">
      <div class="drawer__header">
        <div class="drawer__close drawer__close--left">
          <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'general.drawers.close_menu' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__inner">

      {% comment %}
        Remove comment tags below to add a search box at the top of your pull-out menu.
      {% endcomment %}

      {% comment %}
      {% include 'search-bar', search_btn_style: 'btn--secondary', search_bar_location: 'search-bar--drawer' %}
      {% endcomment %}

      <!-- begin mobile-nav -->
      <ul class="mobile-nav">
        {% for link in linklists.main-menu.links %}
          {% comment %}
            Create a dropdown menu by naming a linklist the same as a link in the parent nav

            More info on dropdowns:
              - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
          {% endcomment %}
          {% assign child_list_handle = link.title | handleize %}
        {% unless lockdown and link.handle == 'shop' or link.handle == 'cart' %}
          {% if linklists[child_list_handle].links != blank %}
            <li class="mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %}" aria-haspopup="true">
              <div class="mobile-nav__has-sublist">
                <a href="{{ link.url }}">
                  <button type="button" class="icon-fallback-text">
                    <span class="mobile-nav__link">
                      {% if link.title == 'CAD' %}
                        {{ 'ca.png' | asset_url | img_tag: 'Shop $CAD', 'site-nav__link-flag' }} {{ link.title }}
                      {% elsif link.title == 'USD' %}
                        {{ 'us.png' | asset_url | img_tag: 'Shop $USD', 'site-nav__link-flag' }} {{ link.title }}
                      {% else %}
                        {{ link.title }}
                      {% endif %}
                    </span>
                  </button>
                </a>
                <div class="mobile-nav__toggle">
                  <button type="button" class="icon-fallback-text">
                    <span class="icon-fallback-text mobile-nav__toggle-open">
                      <span class="icon icon-plus" aria-hidden="true"></span>
                      <span class="fallback-text">See More</span>
                    </span>
                    <span class="icon-fallback-text mobile-nav__toggle-close">
                      <span class="icon icon-minus" aria-hidden="true"></span>
                      <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
                    </span>
                  </button>
                </div>
              </div>
              <ul class="mobile-nav__sublist">
                {% for childlink in linklists[child_list_handle].links %}
                  <li class="mobile-nav__item{% unless template == 'index' %}{% if childlink.active %} mobile-nav__item--active{% endif %}{% endunless %}{% if childlink.title == 'CAD' or childlink.title == 'USD' %} mobile-nav__item-flag{% endif %}">
                    {% if childlink.title == 'CAD' %}
                      <a href="{{ childlink.url }}" class="mobile-nav__link">{{ 'ca.png' | asset_url | img_tag: 'Shop $CAD', 'site-nav__link-flag' }} {{ childlink.title }}</a>
                    {% elsif childlink.title == 'USD' %}
                      <a href="{{ childlink.url }}" class="mobile-nav__link">{{ 'us.png' | asset_url | img_tag: 'Shop $USD', 'site-nav__link-flag' }} {{ childlink.title }}</a>
                    {% else %}
                      <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="{{ link.handle }} mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %}">
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endunless %}
        {% endfor %}

        {% comment %}
          Spacer element
        {% endcomment %}
        <li class="mobile-nav__spacer"></li>

        {% comment %}
          If customer accounts are enabled, provide login and create account links
        {% endcomment %}
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li class="mobile-nav__item mobile-nav__item--secondary">
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            </li>
            <li class="mobile-nav__item mobile-nav__item--secondary">
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
          {% else %}
            <li class="mobile-nav__item mobile-nav__item--secondary">
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
            {% if shop.customer_accounts_optional %}
            <li class="mobile-nav__item mobile-nav__item--secondary">
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </li>
            {% endif %}
          {% endif %}
        {% endif %}
        {% comment %}
        {% for link in linklists.footer.links %}
          <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        {% endcomment %}
      </ul>
      <!-- //mobile-nav -->
    </div>
  </div>
  <div id="CartDrawer" class="drawer drawer--right{% unless additional_checkout_buttons %} drawer--has-fixed-footer{% endunless %}">
    <div class="drawer__fixed-header">
      <div class="drawer__header">
        <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close">
          <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__inner">
      <div id="CartContainer" class="drawer__cart"></div>
    </div>
  </div>

  <div id="PageContainer" class="is-moved-by-drawer">

    <div class="header-wrapper is-light">
      <header class="site-header" role="banner">
        <div class="wrapper">
          <div class="grid--full grid--table">
            <div class="grid__item large--hide one-sixth">
              <div class="site-nav--mobile text-left">
                <button type="button" class="icon-fallback-text site-nav__link default js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                  <span class="icon icon-hamburger" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'general.drawers.browse' | t }}</span>
                </button>
              </div>
            </div>
            <div class="grid__item large--one-third medium-down--four-sixths">
              {% comment %}
                Use the uploaded logo from theme settings if enabled.
                Site name gets precedence with H1 tag on homepage, div on other pages.
              {% endcomment %}
              {% if template == 'index' %}
                <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
              {% else %}
                <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
              {% endif %}
                {% if settings.logo_use_image %}
                  {% comment %}
                    .logo--has-inverted is only applied to the default logo if the inverted logo exists. That way it'll only be hidden on the slider when it has a backup.
                  {% endcomment %}
                  {% assign logo_inverted_url = 'logo-inverted.png' | asset_url %}
                  <a href="{{ shop.url }}" itemprop="url" class="site-header__logo-link{% if settings.logo_use_inverted %} logo--has-inverted{% endif %}">
                    <img src="{{ 'logo-inverted.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                  </a>
                  {% if settings.logo_use_inverted %}
                    <a href="{{ shop.url }}" itemprop="url" class="logo--inverted">
                      <img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                    </a>
                  {% endif %}
                {% else %}
                  <a href="/" itemprop="url">{{ shop.name }}</a>
                {% endif %}
              {% if template == 'index' %}
                </h1>
              {% else %}
                </div>
              {% endif %}
            </div>
            <div class="grid__item large--two-thirds large--text-right medium-down--hide">
              {% comment %}
                List out your main-menu linklist (default)

                More info on linklists:
                  - http://docs.shopify.com/themes/liquid-variables/linklists
              {% endcomment %}
              <!-- begin site-nav -->
              <ul class="site-nav" id="AccessibleNav">
                <li class="site-nav__item site-nav--compress__menu">
                  <button type="button" class="icon-fallback-text site-nav__link site-nav__link--icon js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                    <span class="icon icon-hamburger" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'general.drawers.browse' | t }}</span>
                  </button>
                </li>
                {% for link in linklists.main-menu.links %}
                  {% assign child_list_handle = link.title | handleize %}
                {% unless lockdown and link.handle == 'shop' or link.handle == 'cart' %}
                  {% if linklists[child_list_handle].links != blank %}
                    <li class="site-nav__item site-nav__expanded-item site-nav--has-dropdown{% unless template == 'index' %}{% if link.active %} site-nav--active{% endif %}{% endunless%}" aria-haspopup="true">
                      {% if link.title == 'CAD' %}
                        <a href="{{ link.url }}" class="site-nav__link">{{ 'ca.png' | asset_url | img_tag: 'Shop $CAD', 'site-nav__link-flag' }} {{ link.title }}</a>
                      {% elsif link.title == 'USD' %}
                      <a href="{{ link.url }}" class="site-nav__link">{{ 'us.png' | asset_url | img_tag: 'Shop $USD', 'site-nav__link-flag' }} {{ link.title }}</a>
                      {% else %}
                      <a href="{{ link.url }}" class="site-nav__link test">
                        {{ link.title }}
                        {% comment %}<span class="icon icon-arrow-down" aria-hidden="true"></span>{% endcomment %}
                      </a>
                      {% endif %}
                      <ul class="site-nav__dropdown text-left{% if link.title == 'CAD' or link.title == 'USD' %} flag-list{% endif %}">
                        {% for childlink in linklists[child_list_handle].links %}
                          <li class="site-nav--active{% if childlink.title == 'CAD' or childlink.title == 'USD' %} flag{% endif %}">
                            {% if childlink.title == 'CAD' %}
                              <a href="{{ childlink.url }}" class="site-nav__dropdown-link">{{ 'ca.png' | asset_url | img_tag: 'Shop $CAD', 'site-nav__link-flag' }} {{ childlink.title }}</a>
                            {% elsif childlink.title == 'USD' %}
                              <a href="{{ childlink.url }}" class="site-nav__dropdown-link">{{ 'us.png' | asset_url | img_tag: 'Shop $USD', 'site-nav__link-flag' }} {{ childlink.title }}</a>
                            {% else %}
                              <a href="{{ childlink.url }}" class="site-nav__dropdown-link">{{ childlink.title | escape }}</a>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li class="site-nav__item site-nav__expanded-item{% unless template == 'index' %}{% if link.active %} site-nav--active{% endif %}{% endunless%}">
                      {% if link.title == 'CAD' %}
                        <a href="{{ link.url }}" class="site-nav__link{% if link.handle == 'cart' %} js-drawer-open-right{% endif %}">
                          {{ 'ca.png' | asset_url | img_tag: 'Shop $CAD', 'site-nav__link-flag' }} {{ link.title}}
                        </a>
                      {% elsif link.title == 'USD' %}
                        <a href="{{ link.url }}" class="site-nav__link{% if link.handle == 'cart' %} js-drawer-open-right{% endif %}">
                          {{ 'us.png' | asset_url | img_tag: 'Shop $USD', 'site-nav__link-flag' }} {{ link.title}}
                        </a>
                      {% else %}
                        <a href="{{ link.url }}" class="site-nav__link{% if link.handle == 'cart' %} js-drawer-open-right{% endif %}">
                          {{ link.title }}
                        </a>
                      {% endif %}
                    </li>
                  {% endif %}
                {% endunless %}
                {% endfor %}

                {% comment %}
                {% if shop.customer_accounts_enabled %}
                  <li class="site-nav__item site-nav__expanded-item">
                    <a class="site-nav__link site-nav__link--icon" href="/account">
                      <span class="icon-fallback-text">
                        <span class="icon icon-customer" aria-hidden="true"></span>
                        <span class="fallback-text">
                          {% if customer %}
                            {{ 'layout.customer.account' | t }}
                          {% else %}
                            {{ 'layout.customer.log_in' | t }}
                          {% endif %}
                        </span>
                      </span>
                    </a>
                  </li>
                {% endif %}
                {% endcomment %}

                {% comment %}
                Uncomment code below to add a search icon that points to the search page.
                {% endcomment %}

                {% comment %}
                <li class="site-nav__item">
                  <a href="/search" class="site-nav__link site-nav__link--icon">
                    <span class="icon-fallback-text">
                      <span class="icon icon-search" aria-hidden="true"></span>
                      <span class="fallback-text">{{ 'general.search.title' | t }}</span>
                    </span>
                  </a>
                </li>
                {% endcomment %}
                {% comment %}
                <li class="site-nav__item">
                  <a href="/cart" class="site-nav__link site-nav__link--icon cart-link js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                    <span class="icon-fallback-text">
                      <span class="icon icon-cart" aria-hidden="true"></span>
                      <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                    </span>
                    <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>
                  </a>
                </li>
                {% endcomment %}

              </ul>
              <!-- //site-nav -->
            </div>
            <div class="grid__item large--hide one-sixth">
              <div class="site-nav--mobile text-right">
                <a href="/cart" class="site-nav__link cart-link default js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                  <span class="icon-fallback-text">
                    <span class="icon icon-cart" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                  </span>
                  {% comment %}<span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>{% endcomment %}
                </a>
              </div>
            </div>
          </div>

          {% comment %}
            Remove comment tags below to add a search box to your header.
          {% endcomment %}

          {% comment %}
          <div class="grid--full large--right medium-down--hide ">
            {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--header' %}
          </div>
          {% endcomment %}

        </div>
      </header>
    </div>

    {% if template contains 'collection' or template contains 'product' %}
      {% include 'banner' %}
    {% endif %}

    <main class="main-content{% if template contains 'lookbook' %} lookbook{% elsif lockdown %} lockdown{% endif %}" role="main">
      <div class="wrapper">
        {{ content_for_layout }}
      </div>
    </main>

    {% if settings.footer_newsletter_enable %}
      <div class="newsletter">
        <div class="wrapper">
          {% comment %}
            MailChimp is the go-to newsletter service for Shopify.
            Use the link below to find your MailChimp "form action"
            and insert it in your site settings.

            MailChimp newsletter integration and requirement:
             - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action

          {% endcomment %}
          {% if settings.newsletter_form_action != blank %}
            {% assign form_action = settings.newsletter_form_action %}
          {% else %}
            {% assign form_action = '#' %}
          {% endif %}
          <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
            <label for="Email" class="newsletter__label hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
            <div class="input-group">
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
              <span class="input-group-btn">
                <button type="submit" class="btn newsletter__submit" name="subscribe" id="Subscribe">
                  <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                  <span class="newsletter__submit-text--small">&rarr;</span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    {% endif %}

    {% comment %}<hr class="hr--large">{% endcomment %}

    <footer class="site-footer small--text-center" role="contentinfo">
      <div class="wrapper">

        <div class="grid--full grid--table">

          {% if linklists.footer.links.size > 0 %}

          <div class="grid__item large--one-third large--text-left">
            COPYRIGHT &copy; {{ 'now' | date: '%Y' }} RAISED BY WOLVES
          </div>
            <div class="grid__item large--two-thirds">
              <ul class="no-bullets site-footer__linklist">
                {% for link in linklists.footer.links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                <span class="social-links">
                {% if settings.social_twitter_link != blank %}
                    <li>
                      <a href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}" target="_blank">
                        <span class="icon icon-twitter" aria-hidden="true"></span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_facebook_link != blank %}
                    <li>
                      <a href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}" target="_blank">
                        <span class="icon icon-facebook" aria-hidden="true"></span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_pinterest_link != blank %}
                    <li>
                      <a href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                        <span class="icon icon-pinterest" aria-hidden="true"></span>
                        Pinterest
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_google_plus_link != blank %}
                    <li>
                      <a href="{{ settings.social_google_plus_link }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                        <span class="icon icon-google" aria-hidden="true"></span>
                        Google Plus
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_instagram_link != blank %}
                    <li>
                      <a href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}" target="_blank">
                        <span class="icon icon-instagram" aria-hidden="true"></span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_tumblr_link != blank %}
                    <li>
                      <a href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}" target="_blank">
                        <span class="icon icon-tumblr" aria-hidden="true"></span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_youtube_link != blank %}
                    <li>
                      <a href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                        <span class="icon icon-youtube" aria-hidden="true"></span>
                        YouTube
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_vimeo_link != blank %}
                    <li>
                      <a href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                        <span class="icon icon-vimeo" aria-hidden="true"></span>
                        Vimeo
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_fancy_link != blank %}
                    <li>
                      <a href="{{ settings.social_fancy_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
                        <span class="icon icon-fancy" aria-hidden="true"></span>
                        Fancy
                      </a>
                    </li>
                  {% endif %}
                <li>
                  <a href="https://soundcloud.com/raisedbywolves" title="Soundcloud" target="_blank">
                    <svg viewBox="0 0 609 337" width="22px">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <path d="M261.08,328.424 C260.429,332.328 262.219,335.093 266.448,336.72 L511.912,336.72 C538.589,336.72 561.2,327.529 579.744,309.148 C598.288,290.767 607.723,268.237 608.048,241.56 C608.048,215.208 598.695,192.679 579.988,173.972 C561.281,155.265 538.589,145.912 511.912,145.912 C499.875,145.912 487.675,148.515 475.312,153.72 C471.733,110.451 453.84,74.013 421.632,44.408 C389.424,14.803 351.523,0 307.928,0 C294.915,0 282.227,1.464 269.864,4.392 C264.008,6.669 261.08,12.525 261.08,21.96 L261.08,328.424 L261.08,328.424 Z M195.2,321.592 C195.2,331.677 202.032,336.72 215.696,336.72 C230.011,336.72 237.168,331.677 237.168,321.592 L237.168,39.04 C237.168,23.424 232.288,14.477 222.528,12.2 C216.347,10.573 210.247,12.281 204.228,17.324 C198.209,22.367 195.2,29.605 195.2,39.04 L195.2,321.592 L195.2,321.592 Z M129.808,320.616 C129.808,331.352 136.965,336.72 151.28,336.72 C164.944,336.72 171.776,331.352 171.776,320.616 L171.776,145.912 C171.776,140.056 169.743,135.176 165.676,131.272 C161.609,127.368 156.811,125.416 151.28,125.416 C145.424,125.416 140.381,127.368 136.152,131.272 C131.923,135.176 129.808,140.056 129.808,145.912 L129.808,320.616 Z M65.392,311.832 C65.392,317.037 67.344,321.104 71.248,324.032 C75.152,326.96 80.032,328.424 85.888,328.424 C92.069,328.424 97.193,326.96 101.26,324.032 C105.327,321.104 107.36,317.037 107.36,311.832 L107.36,121.024 C107.36,115.168 105.245,110.125 101.016,105.896 C96.787,101.667 91.744,99.552 85.888,99.552 C80.357,99.552 75.559,101.667 71.492,105.896 C67.425,110.125 65.392,115.168 65.392,121.024 L65.392,311.832 L65.392,311.832 Z M0,276.696 C0,284.179 2.765,289.791 8.296,293.532 C13.827,297.273 19.845,298.656 26.352,297.68 C32.208,296.379 36.275,294.345 38.552,291.58 C40.829,288.815 41.968,283.853 41.968,276.696 L41.968,194.712 C41.968,188.856 40.016,183.895 36.112,179.828 C32.208,175.761 27.328,173.728 21.472,173.728 C15.616,173.728 10.573,175.761 6.344,179.828 C2.115,183.895 0,188.856 0,194.712 L0,276.696 L0,276.696 Z" fill="#000000"></path>
                      </g>
                    </svg>
                  </a>
                </li>
                </span>
              </ul>
            </div>
          {% endif %}

          {% comment %}
            <div class="grid__item {{ footer_column_width }}">
                <ul class="no-bullets social-icons">
                  {% if settings.social_twitter_link != blank %}
                    <li>
                      <a href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                        <span class="icon icon-twitter" aria-hidden="true"></span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_facebook_link != blank %}
                    <li>
                      <a href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                        <span class="icon icon-facebook" aria-hidden="true"></span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_pinterest_link != blank %}
                    <li>
                      <a href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                        <span class="icon icon-pinterest" aria-hidden="true"></span>
                        Pinterest
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_google_plus_link != blank %}
                    <li>
                      <a href="{{ settings.social_google_plus_link }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                        <span class="icon icon-google" aria-hidden="true"></span>
                        Google Plus
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_instagram_link != blank %}
                    <li>
                      <a href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                        <span class="icon icon-instagram" aria-hidden="true"></span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_tumblr_link != blank %}
                    <li>
                      <a href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                        <span class="icon icon-tumblr" aria-hidden="true"></span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_youtube_link != blank %}
                    <li>
                      <a href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                        <span class="icon icon-youtube" aria-hidden="true"></span>
                        YouTube
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_vimeo_link != blank %}
                    <li>
                      <a href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                        <span class="icon icon-vimeo" aria-hidden="true"></span>
                        Vimeo
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_fancy_link != blank %}
                    <li>
                      <a href="{{ settings.social_fancy_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
                        <span class="icon icon-fancy" aria-hidden="true"></span>
                        Fancy
                      </a>
                    </li>
                  {% endif %}
                </ul>
            </div>
          {% endcomment %}

          {% comment %}
          <div class="grid__item {{ footer_column_width }} large--text-right">
            {% comment %}<p>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name }}<br>{{ powered_by_link }}</p>{% endcomment %}
            {% unless shop.enabled_payment_types == empty %}
              <ul class="inline-list payment-icons">
                {% for type in shop.enabled_payment_types %}
                  <li>
                    <span class="icon-fallback-text">
                      <span class="icon icon-{{type}}" aria-hidden="true"></span>
                      <span class="fallback-text">{{type | replace: '_',' '}}</span>
                    </span>
                  </li>
                {% endfor %}
              </ul>
            {% endunless %}
          </div>
          {% endcomment %}
        </div>
      </div>
    </footer>
  </div>


  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if newHash %}
      $(function() {
        timber.updateHash('{{ newHash }}');
      });
    {% endif %}
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% if template contains 'index' and hero_enabled %}
    {{ 'slick.min.js' | asset_url | script_tag }}
    {{ 'slick-theme.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        slickTheme.init({
          $element     : $('#Hero'),
          $headerClass : $('.header-wrapper'), // absolutely positioned inside $element
          fullscreen   : true,
          parallax     : true
        });
      });
    </script>
  {% elsif template contains 'product' %}
    {{ 'slick.min.js' | asset_url | script_tag }}
    {{ 'scrolltofixed.min.js' | asset_url | script_tag }}
  {% endif %}

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}

  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajax-cart.js' | asset_url | script_tag }}

  <script>
    jQuery(function($) {
      ajaxCart.init({
        formSelector: '#AddToCartForm',
        cartContainer: '#CartContainer',
        addToCartSelector: '#AddToCart',
        enableQtySelectors: true,
        moneyFormat: {{ shop.money_format | json }}
      });
    });
  </script>

  {{ 'magnific-popup.min.js' | asset_url | script_tag }}

  {% if template contains 'article' or template contains 'product' %}
    {% if settings.social_sharing_blog or settings.social_sharing_products %}
      {{ 'social-buttons.js' | asset_url | script_tag }}
    {% endif %}
  {% endif %}

  {% if template contains 'product' %}
    <script>
      if (Shopify.Products) {
      Shopify.Products.recordRecentlyViewed();
      }
    </script>
  {% endif %}

  {% include 'location' %}
</body>
</html>
